{% extends 'prasad/base.html' %}

{% block title %}API Root{% endblock %}

{% block content %}
<style>
    footer{
        margin-top: 16%;
    }
</style>
<div class="container" style="position:relative; margin-top: 10%;">
    
    <h1 style="color: brown;">API USING REST FRAMEWORK</h1>
    <ul>
        <a href="{{ api_root_data.users }}" style="font-size: 30px;"> Users </a></li>
        <a href="{{ api_root_data.contactinfos }}"style="font-size: 30px;"> Contact Infos </a></li>
        <a href="{{ api_root_data.bookinginfos }}"style="font-size: 30px;"> Booking Infos </a></li>
    </ul>
</div>

{% endblock %}