<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Data from API</title>
</head>
<body>
    <table>
      <tr> </tr>
      {% for i in data %}
      <tr>
        <td>{{i.id}}</td> 
        <td>{{i.booking_name}}</td> 
        <td>{{i.event_name}}</td> 
         <td>{{i.address}}</td>
         <td>{{i.email}}</td>
         <td>{{i.full_name}}</td>
         <td>{{i.mobile_no}}</td>
         <td>{{i.event_day_choice}}</td>
         <td>{{i.other_details}}</td>
    </tr>
    {% endfor %}
    {{ nepali_text }}
    </table>
    
   
   
   
 
    
</li>
</ol>
</body>
</html>