{% extends 'prasad/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'prasad/css/services.css' %}">

<div class="header">
  <h1 style="color: black;">OUR SERVICES</h1>
</div>

<div class="owl-carousel">
  {% for i in page %}
  <div class="card">
    <img class="card-img-top" src="{{ i.img.url }}" alt="{{ i.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
      <p class="card-text">{{ i.content|slice:"200" }}</p>
      <p class="card-text"><small class="text-muted">BTH</small></p>
    </div>
  </div>
  {% endfor %}
  
</div>
{% if page.has_previous %}
  <a class="pagination-link" href="?page=1">First</a>
  <a class="pagination-link" href="?page={{page.previous_page_number}}">Previous</a>
{% endif %}

<span class="pagination-info">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>

{% if page.has_next %}
  <a class="pagination-link" href="?page={{page.next_page_number}}">Next</a>
  <a class="pagination-link" href="?page={{page.paginator.num_pages}}">Last</a>
{% endif %}

{% endblock %}
