.logo {
  /* Set the logo dimensions and position */
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #10ca29dc;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.logo img {
  /* Adjust the logo image dimensions */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio */
}

/* Example of additional styles you can apply to the logo */

.logo:hover {
  transform: scale(1.1);
}

.logo a {
  /* Adjust text styles if the logo is within a link */
  text-decoration: none;
  color: #fff;
}

.logo a:hover {
  color: #ff0000;
}
