/* Add this CSS to your prasad/css/style.css file */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .section-title {
    color: #000;
    font-size: 28px;
    font-weight: bold;
  }
  
  .divider {
    border-top: 2px solid #000;
  }
  
  .contact-section {
    padding: 60px 0;
    text-align: center;
  }
  
  .address-info img,
  .contact-info img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .address-link,
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .leave-message-title {
    color: #090c09dc;
    font-size: 34px;
    font-weight: bold;
    margin-top: 40px;
  }
  
  .my-form {
    margin-top: 20px;
  }
  
  .my-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .my-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .message {
    color: #007bff;
    margin-top: 20px;
    font-size: 18px;
    list-style: none;
  }
  